.button {
    padding: 1.2rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: all .3s ease;
    border: none;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    &:hover{
        background-color: var(--color-secondary);
    }
}
.secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 2px solid transparent;
    &:hover{
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
}
.tertiary {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    &:hover {
        background-color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
    }
}
.quinary {
    border: 1.5px solid var(--color-secondary);
    color: var(--color-secondary);
    font-weight: 300;
    &:hover {
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
}