.accordion {
    background-color: #fff;
    padding: 1.5rem;
    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 2rem;
        .icon {
            font-size: 1.6rem;
            color: var(--color-primary);
        }
        h2 {
            font-size: 2rem;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: var(--color-primary);
        }
    }
    &__description {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
        p{
            font-size: 1.6rem;
            padding: 1rem;
            width: 90%;
        }
    }
}
.accordion-open {
    max-height: 10rem;
    opacity: 1;
    visibility: visible;
}