.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 10rem;
    position: absolute;
    width: 100%;
    @media screen and (max-width: 1024px){
      padding: 3rem 4rem;
    }
    &__hamburger {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      cursor: pointer;
      position: absolute;
      right: 3rem;
      display: none;
      @media screen and (max-width: 768px){
        display: flex;
      }
      span {
        height: 3px;
        width: 4rem;
        background-color: var(--color-white);
        z-index: 150;
        border-radius: 3px;
      }
    }
    .svg-icon {
        height: 5rem;
        width: 5rem;
        mask-image: url(../../assets/mountain-logo.svg);
        -webkit-mask-image: url(../../assets/mountain-logo.svg);
        mask-size: cover;
        -webkit-mask-size: cover;
        background-color: var(--color-white);
      }
      .list {
        display: flex;
        align-items: center;
        gap: 4rem;
        @media screen and (max-width: 768px){
            display: none;
        }
        .link {
            font-size: 1.6rem;
            color: var(--color-white);
            cursor: pointer;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-decoration: none;
            transition: all .3s ease;
            &:hover {
              color: var(--color-secondary);
            }
        }
      }
}